# cp .env.example .env

NEXT_PUBLIC_SUPABASE_URL=https://qcyzbujgzjscwmgggknf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_D0wcUd9CHtKLn0SRcJz7gw_1UXFc-Y_
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

# NEXT_PUBLIC_BACKEND_PUBLIC_URL=
# NEXT_PUBLIC_ENABLE_DEV_AUTH_BYPASS=true
